@charset "utf-8";

$navbar-inverse-bg: #C87391;
$navbar-inverse-link-color: #FFFFFF;
$brand-primary: #B53663;
$font-size-h1: 18px;
$well-bg: white;
@import "settings";
@import "imports";


body {
  margin-top: $marginTopBody;
}
